@import "./variables.scss";

.navbar {
    width: 83rem;
    height: 3.5rem;
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 24px 0;
    border-bottom: 1px solid $background-light;

    h2 {
        color: $text-black;
        font-size: $font-size-xxl;
        line-height: 29.04px;
        font-weight: $font-weight-medium;

        @media screen and (max-width: $breakpoint-sm) {
            font-size: $font-size-md;
        }
    }

    p {
        color: $text-black-transparent;
        line-height: 19.36px;
        font-size: $font-size-md;
        font-weight: $font-weight-regular;
    }

    @media screen and (max-width: $breakpoint-sm) {
        width: 17rem;
        height: 7.125rem;
        flex-direction: column;
    }
}

.navbar-logo {
    width: 20%;
    display: flex;
    gap: 1rem;

    @media screen and (max-width: $breakpoint-sm) {
        width: 100%;
        justify-content: start;
    }
}
