@import "./variables.scss";
.tasklist {
    width: 28.125rem;
    height: 50%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.tasklist-elements-container {
    width: 28.125rem;
    height: 27.875rem;
    border: 1px solid $background-grey;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    padding: 24px;
    gap: 24px;
    margin-bottom: 1.5rem;
}

.tasklist-todo {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    p {
        font-size: $font-size-md;
        margin-bottom: 1rem;
        color: $text-black-transparent;
    }
}

.tasklist-done {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    p {
        font-size: $font-size-md;
        margin-bottom: 1rem;
        color: $text-black-transparent;
    }
}

.button-create {
    width: 28.125rem;
    height: 3.1875rem;
    background: $linear-gradient-primary;
    font-size: $font-size-md;
    color: $text-white;
    font-weight: $font-weight-medium;
    border: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}