@import "./variables.scss";

.task-container {
    min-width: 100%;
    min-height: 3.5rem;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    padding: 1rem;
    gap: 16px;
    border: 1px dashed $background-light;
    margin-bottom: 1rem;

    &:hover {
        background: $background-color;
        border: none;
        cursor: pointer;
        transition: 0.3s;
    }
}

.description-task {
    display: flex;
    align-items: center;
    gap: 13px;

    input[type="checkbox"] {
        width: 1.5rem;
        height: 1.5rem;
        flex-shrink: 0;
        border-radius: 4px;
        border: 1px;
        cursor: pointer;

        &:checked {
            appearance: none;
            background-color: $accent-light;
            border: 1px solid $primary-color;
            border-radius: 4px;
            position: relative;

            &::after {
                content: url("/Icon.png");
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-size: cover;
            }
        }

        &:checked + span {
            text-decoration: line-through;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 0.5rem;
                height: 0.5rem;
                border: solid white;
                border-width: 0 2px 2px 0;
                transform: translate(-50%, -50%) rotate(45deg);
            }
        }
    }
}

.btn-delete {
    border: none;
    background: transparent;
    cursor: pointer;

    > svg {
        color: $background-gray-100;
        font-size: $font-size-xxl;
    }
}
