@import "./variables.scss";

.task-container {
    min-width: 100%;
    min-height: 3.5rem;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    padding: 1rem;
    gap: 16px;
    border: 1px dashed $background-light;
    margin-bottom: 1rem;

    &:hover {
        background: $background-color;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
}

.description-task {
    max-width: 100%;
    display: flex;
    align-items: center;
    gap: 13px;

    // span {
    //     display: inline-block;
    //     max-width: 100px; 
    //     overflow: hidden;
    //     text-overflow: ellipsis;
    // }


    input[type="checkbox"] {
        width: 1.5rem;
        height: 1.5rem;
        flex-shrink: 0;
        border-radius: 4px;
        border: 1px solid $background-gray-100;
        cursor: pointer;
        appearance: none;

        &:checked {
            background-color: $accent-light;
            border: 1px solid $primary-color;
            position: relative;

            &::after {
                content: url("/Icon.png");
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-size: cover;
            }
        }

        &:checked + span {
            text-decoration: line-through;
            color: $backgroud-gray-600;
        }
    }
}

.btn-delete {
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
    border: none;
    background: transparent;
    cursor: pointer;

    > svg {
        color: $background-gray-100;
        font-size: $font-size-xxl;
    }
}

.icon-trash {
    stroke-width: 1.33;
}
